# DS_Task_01

#### Importing libraries

In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Reading CSV file

In [99]:
df=pd.read_csv("worldpopulationdata.csv")

#### Displaying top 3 Columns

In [100]:
df.head(3) #data of top 3 rows

,Series Name,Series Code,Country Name,Country Code,2022,2021,2020,2019,2018,2017,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,41128771.0,40099462.0,38972230.0,37769499.0,36686784.0,35643418.0,...,28189672.0,27385307.0,26427199.0,25903301.0,25442944.0,24411191.0,23553551.0,22645130.0,21000256.0,19688632.0
1,"Population, total",SP.POP.TOTL,Albania,ALB,2775634.0,2811666.0,2837849.0,2854191.0,2866376.0,2873457.0,...,2913021.0,2927519.0,2947314.0,2970017.0,2992547.0,3011487.0,3026939.0,3039616.0,3051010.0,3060173.0
2,"Population, total",SP.POP.TOTL,Algeria,DZA,44903225.0,44177969.0,43451666.0,42705368.0,41927007.0,41136546.0,...,35856344.0,35196037.0,34569592.0,33983827.0,33435080.0,32956690.0,32510186.0,32055883.0,31624696.0,31200985.0

#### Displaying bottom 3 Columns

In [101]:
df.tail(3) #data of bottom 3 rows

,Series Name,Series Code,Country Name,Country Code,2022,2021,2020,2019,2018,2017,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
1082,"Population, male (% of total population)",SP.POP.TOTL.MA.ZS,"Yemen, Rep.",YEM,50.519031,50.538516,50.554317,50.571320,50.596614,50.616964,...,50.594170,50.582692,50.568876,50.553633,50.539012,50.522514,50.502720,50.481666,50.459941,50.437238
1083,"Population, male (% of total population)",SP.POP.TOTL.MA.ZS,Zambia,ZMB,49.344602,49.344951,49.338301,49.326233,49.309087,49.288400,...,49.056379,48.981404,48.888443,48.784780,48.676944,48.571398,48.476900,48.393634,48.313646,48.229968
1084,"Population, male (% of total population)",SP.POP.TOTL.MA.ZS,Zimbabwe,ZWE,47.214139,47.167153,47.130679,47.099796,47.076238,47.051613,...,46.995893,47.049546,47.106068,47.166435,47.190963,47.231433,47.324096,47.387633,47.428426,47.460469

#### Removing Columns with all NaN Value

In [102]:
df = df.dropna(axis=1, how='all')  #axis 1 specifies the operation along the columns.

#### Printing Columns Name

In [103]:
df.columns #printing columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code', '2022',
       '2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013',
       '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004',
       '2003', '2002', '2001'],
      dtype='object')

#### Dataset info

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series Name   1085 non-null   object
 1   Series Code   1085 non-null   object
 2   Country Name  1085 non-null   object
 3   Country Code  1085 non-null   object
 4   2022          1085 non-null   float64
 5   2021          1085 non-null   float64
 6   2020          1085 non-null   float64
 7   2019          1085 non-null   float64
 8   2018          1085 non-null   float64
 9   2017          1085 non-null   float64
 10  2016          1085 non-null   float64
 11  2015          1085 non-null   float64
 12  2014          1085 non-null   float64
 13  2013          1085 non-null   float64
 14  2012          1085 non-null   float64
 15  2011          1085 non-null   float64
 16  2010          1085 non-null   float64
 17  2009          1085 non-null   float64
 18  2008          1085 non-null   float64
 19  2007          1085 non-null   float64
 20  2006          1085 non-null   float64
 21  2005          1085 non-null   float64
 22  2004          1085 non-null   float64
 23  2003          1085 non-null   float64
 24  2002          1085 non-null   float64
 25  2001          1085 non-null   float64
dtypes: float64(22), object(4)
memory usage: 220.5+ KB

In [105]:
df.describe()

,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
count,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,...,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03,1.085000e+03
mean,1.461378e+07,1.449711e+07,1.437307e+07,1.422876e+07,1.407966e+07,1.392568e+07,1.376711e+07,1.360705e+07,1.344625e+07,1.328368e+07,...,1.280537e+07,1.265031e+07,1.249535e+07,1.234099e+07,1.218858e+07,1.203685e+07,1.188626e+07,1.173626e+07,1.158653e+07,1.143598e+07
std,7.832944e+07,7.801505e+07,7.763257e+07,7.712985e+07,7.657562e+07,7.596457e+07,7.528760e+07,7.461740e+07,7.394894e+07,7.325356e+07,...,7.113128e+07,7.047509e+07,6.982016e+07,6.915934e+07,6.849229e+07,6.780708e+07,6.710041e+07,6.638386e+07,6.565651e+07,6.490862e+07
min,2.749000e+01,2.732503e+01,2.735104e+01,2.676295e+01,2.573928e+01,2.508394e+01,2.464721e+01,2.474106e+01,2.540718e+01,2.594943e+01,...,2.425072e+01,2.339422e+01,2.356750e+01,2.520779e+01,2.831990e+01,3.096426e+01,3.129133e+01,3.137472e+01,3.146521e+01,3.156689e+01
25%,5.034029e+01,5.035172e+01,5.034171e+01,5.033040e+01,5.033917e+01,5.033041e+01,5.033966e+01,5.033554e+01,5.032504e+01,5.033767e+01,...,5.034833e+01,5.036836e+01,5.037388e+01,5.036880e+01,5.038085e+01,5.037186e+01,5.036210e+01,5.039432e+01,5.039371e+01,5.038254e+01
50%,1.465500e+05,1.463660e+05,1.461650e+05,1.459570e+05,1.457520e+05,1.441350e+05,1.406060e+05,1.371850e+05,1.349620e+05,1.328960e+05,...,1.263090e+05,1.244660e+05,1.228070e+05,1.209490e+05,1.190890e+05,1.171330e+05,1.152950e+05,1.136960e+05,1.134500e+05,1.136410e+05
75%,5.903468e+06,5.856733e+06,5.831404e+06,5.814422e+06,5.774185e+06,5.686999e+06,5.629265e+06,5.544490e+06,5.524552e+06,5.480089e+06,...,5.267970e+06,5.187356e+06,5.100083e+06,5.062560e+06,5.007301e+06,4.989584e+06,4.813244e+06,4.758988e+06,4.698968e+06,4.535518e+06
max,1.417173e+09,1.412360e+09,1.411100e+09,1.407745e+09,1.402760e+09,1.396215e+09,1.387790e+09,1.379860e+09,1.371860e+09,1.363240e+09,...,1.337705e+09,1.331260e+09,1.324655e+09,1.317885e+09,1.311020e+09,1.303720e+09,1.296075e+09,1.288400e+09,1.280400e+09,1.271850e+09

#### Checking Duplicates

In [106]:
df.duplicated().sum() #number od duplicte data

0

#### Checking Missing Value

In [107]:
df.isna().sum().sum() #returns total number of missing value

0

In [108]:
df.shape

(1085, 26)

#### Unique values for columns

In [109]:
print(df["Country Name"].unique())
print("\n No. of Unique Country",df["Country Name"].nunique()) #No. of Unique Country

['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Channel Islands' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt, Arab Rep.'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Faroe Islands' 'Fiji' 'Finland' 'France' 'French Polynesia'
 'Gabon' 'Gambia, The' 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece'
 'Greenland' 'Grenada' 'Guam' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong SAR, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran, Islamic Rep.' 'Iraq' 'Ireland' 'Isle of Man'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' "Korea, Dem. People's Rep." 'Korea, Rep.' 'Kosovo' 'Kuwait'
 'Kyrgyz Republic' 'Lao PDR' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao SAR, China'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia, Fed. Sts.' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'North Macedonia' 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan'
 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russian Federation'
 'Rwanda' 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovak Republic' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'St. Kitts and Nevis' 'St. Lucia' 'St. Martin (French part)'
 'St. Vincent and the Grenadines' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Tanzania' 'Thailand'
 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkiye'
 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela, RB' 'Vietnam' 'Virgin Islands (U.S.)'
 'West Bank and Gaza' 'Yemen, Rep.' 'Zambia' 'Zimbabwe']

 No. of Unique Country 217

In [110]:
print(df['Country Code'].unique())
print("\n Total no of unique country code:",df['Country Code'].nunique())

['AFG' 'ALB' 'DZA' 'ASM' 'AND' 'AGO' 'ATG' 'ARG' 'ARM' 'ABW' 'AUS' 'AUT'
 'AZE' 'BHS' 'BHR' 'BGD' 'BRB' 'BLR' 'BEL' 'BLZ' 'BEN' 'BMU' 'BTN' 'BOL'
 'BIH' 'BWA' 'BRA' 'VGB' 'BRN' 'BGR' 'BFA' 'BDI' 'CPV' 'KHM' 'CMR' 'CAN'
 'CYM' 'CAF' 'TCD' 'CHI' 'CHL' 'CHN' 'COL' 'COM' 'COD' 'COG' 'CRI' 'CIV'
 'HRV' 'CUB' 'CUW' 'CYP' 'CZE' 'DNK' 'DJI' 'DMA' 'DOM' 'ECU' 'EGY' 'SLV'
 'GNQ' 'ERI' 'EST' 'SWZ' 'ETH' 'FRO' 'FJI' 'FIN' 'FRA' 'PYF' 'GAB' 'GMB'
 'GEO' 'DEU' 'GHA' 'GIB' 'GRC' 'GRL' 'GRD' 'GUM' 'GTM' 'GIN' 'GNB' 'GUY'
 'HTI' 'HND' 'HKG' 'HUN' 'ISL' 'IND' 'IDN' 'IRN' 'IRQ' 'IRL' 'IMN' 'ISR'
 'ITA' 'JAM' 'JPN' 'JOR' 'KAZ' 'KEN' 'KIR' 'PRK' 'KOR' 'XKX' 'KWT' 'KGZ'
 'LAO' 'LVA' 'LBN' 'LSO' 'LBR' 'LBY' 'LIE' 'LTU' 'LUX' 'MAC' 'MDG' 'MWI'
 'MYS' 'MDV' 'MLI' 'MLT' 'MHL' 'MRT' 'MUS' 'MEX' 'FSM' 'MDA' 'MCO' 'MNG'
 'MNE' 'MAR' 'MOZ' 'MMR' 'NAM' 'NRU' 'NPL' 'NLD' 'NCL' 'NZL' 'NIC' 'NER'
 'NGA' 'MKD' 'MNP' 'NOR' 'OMN' 'PAK' 'PLW' 'PAN' 'PNG' 'PRY' 'PER' 'PHL'
 'POL' 'PRT' 'PRI' 'QAT' 'ROU' 'RUS' 'RWA' 'WSM' 'SMR' 'STP' 'SAU' 'SEN'
 'SRB' 'SYC' 'SLE' 'SGP' 'SXM' 'SVK' 'SVN' 'SLB' 'SOM' 'ZAF' 'SSD' 'ESP'
 'LKA' 'KNA' 'LCA' 'MAF' 'VCT' 'SDN' 'SUR' 'SWE' 'CHE' 'SYR' 'TJK' 'TZA'
 'THA' 'TLS' 'TGO' 'TON' 'TTO' 'TUN' 'TUR' 'TKM' 'TCA' 'TUV' 'UGA' 'UKR'
 'ARE' 'GBR' 'USA' 'URY' 'UZB' 'VUT' 'VEN' 'VNM' 'VIR' 'PSE' 'YEM' 'ZMB'
 'ZWE']

 Total no of unique country code: 217

In [114]:
df['Country Name']

0                 Afghanistan
1                     Albania
2                     Algeria
3              American Samoa
4                     Andorra
                ...
1080    Virgin Islands (U.S.)
1081       West Bank and Gaza
1082              Yemen, Rep.
1083                   Zambia
1084                 Zimbabwe
Name: Country Name, Length: 1085, dtype: object

#### Extracting Top ten country with rexpect to total population

In [117]:
# Filter data for total population
total_population_data = df[df['Series Code'] == 'SP.POP.TOTL']

# Sort data based on the total population for 2022
total_population_sorted = total_population_data.sort_values(by="2022", ascending=False)

# Get the top ten countries with the highest total population for 2022
total_top_ten_countries = total_population_sorted.head(10)
print("Top ten countries of total population\n")
total_top_ten_countries[['Country Name','Country Code']]

Top ten countries of total population

           Country Name Country Code
89                India          IND
41                China          CHN
206       United States          USA
90            Indonesia          IDN
149            Pakistan          PAK
144             Nigeria          NGA
26               Brazil          BRA
15           Bangladesh          BGD
161  Russian Federation          RUS
127              Mexico          MEX